<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    <link rel="stylesheet" href="{% static 'encyclopedia/styles.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'create' %}">Create New Page</a>
            <a href="{% url 'random_page' %}">Random Page</a>
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q" placeholder="Search">
                <button type="submit">Search</button>
            </form>
        </nav>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
